
<ion-header translucent="true" no-border>
  <ion-navbar color="sincolor" style="text-align: center;">
    <ion-title color="agro2" style="text-align: -webkit-center;">Productos ofline</ion-title>

    <br>
    <ion-grid style="text-align: center;">
      <ion-row> 
        
        <ion-col>
          <img style="width: 25%;" (click)="regresar_menu()" src="img/icon/volver.png"/>
          <p style="font-size: 14px; color: #0C369C; margin-top: 0%;">Regresar al menu</p>
        </ion-col>
        
        <ion-col>     
          <img style="width: 25%;" (click)="cargar_lista_ofline()" src="img/icon/refrescar.png"/>
          <p style="font-size: 14px; color: #0C369C; margin-top: 0%;">Cargar lista</p>
        </ion-col>
      </ion-row>
    </ion-grid> 

  </ion-navbar>

  <ion-item no-lines>
    <ion-searchbar padding cancelButtonText (ionInput)="marca($event)" placeholder="Buscar por marca">
    </ion-searchbar>
    <ion-searchbar style="margin-top: -15px;" padding cancelButtonText (ionInput)="productoo($event)" placeholder="Buscar por producto">
    </ion-searchbar>
  </ion-item>

</ion-header>


<ion-content padding>
  
  <ion-list *ngFor="let item of datosP; let i=index;">
    <ion-card class="lista" (click)="detalles($event,item)">
      <ion-item>
        <ion-avatar item-left>
          <img src="img/icon/product.png"/>      
        </ion-avatar>
        <h2 style="color: #4A6D68; font-size: 13px; margin-top: 5px;"><strong>{{item.producto}}</strong></h2> 
        <h3 style="color: #505A53;">Codigo KPI: <strong style="color: #54BED8;">{{item.codigoKPI}}</strong></h3>
      </ion-item>
      <ion-grid style="text-align: center;">
        <ion-row> 
          <ion-col>
            <ion-chip *ngIf="item.existencias === '0' " color="transito">
              <ion-label style="margin: 0 10px;">En transito...</ion-label>
            </ion-chip>
            <ion-chip *ngIf="item.existencias >= '1'" color="btnlogin">
              <ion-label style="margin: 0 10px;">En existencia</ion-label>
            </ion-chip>
          </ion-col> 
          <ion-col>     
            <h3 style="color: #505A53;">Marca: <br> <strong style="color: #88BD54;">{{item.marca}}</strong></h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>


</ion-content>
