page-administradorespromocion {
    .toolbar-md-sincolor .bar-button-clear-md, .toolbar-md-sincolor .bar-button-default-md, .toolbar-md-sincolor .bar-button-outline-md, .toolbar-md-sincolor .toolbar-title-md {
        color: #88BD54;
        padding: 0%;
    }

    .item-md ion-avatar ion-img, .item-md ion-avatar img{
        width: 360px;
        height: 265px;
        border-radius: 20px;
    }
}
